<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã SV</th>
        <th>Họ tên</th>
        <th>Tuổi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sv of DanhSachSinhVien; let STT = index">
        <td>{{STT + 1}}</td>
        <td>{{sv.MaSV}}</td>
        <td>{{sv.HoTen}}</td>
        <td>{{sv.Tuoi}}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="container">
  <h3>Thêm sinh viên</h3>
  <div class="form-group">
    <span>Mã sinh viên</span>
    <input #MaSV type="text" class="form-control" />
  </div>
  <div class="form-group">
    <span>Họ tên</span>
    <input #HoTen type="text" class="form-control" />
  </div>
  <div class="form-group">
    <span>Tuổi</span>
    <input #Tuoi type="number" class="form-control" />
  </div>
  <div class="form-group">
    <button class="btn btn-success" (click)="ThemSinhVien(MaSV.value,HoTen.value,Tuoi.value)">Thêm sinh viên</button>

  </div>
</div>